
.headerContainer {
  color: white;
  background-color: teal;
  height: 150px;
  padding-left: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
}



